graft src/pytest_jsonschema
graft tests
graft docs
graft news
include Makefile
include .flake8
include *.md
include *.ini
include *.yml
include *.yaml
recursive-exclude src *.pyc
recursive-exclude tests *.pyc